@charset "utf-8";
/* CSS Document */

body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,dl,dd,dt,p,input{margin:0px;padding:0px;}
ul,li,dl,dd,dt,ol{list-style:none;}
ins{display:none;}
img{border:none;display: block;}
.clear{font-size:0px;line-height:0px;display:block;clear:both;}

a{cursor:pointer;}
a:link,a:visited{color:#0072ff;text-decoration:none;}
a:hover{color:#0072ff;text-decoration:none;}
a:focus{-webkit-tap-highlight-color: transparent;}

body{font:15px/24px Arial,"microsoft yahei";color:#333;}


/* css注释：设置了浏览器宽度不小于1001px时 */ 
@media screen and ( min-width: 701px ) { 
	.syhome_body{ width: 700px; padding: 50px 0px 20px; margin: 0 auto; text-align: center; }
	h1.site_name{ line-height: 42px; font-size: 36px; /*padding-bottom: 10px; border-bottom: 1px dotted #c1c1c1;*/ }

	/*pt_wrap*/
	.pt_wrap{  }
	.pt_wrap:after{ clear: both; content: ""; display: table; }

	/*data_total*/
	.data_total{ height: 60px; line-height: 60px; font-size: 22px; border-bottom: 1px dotted #c1c1c1; background: #f5f5f5; }
	.data_total b{ margin-left: 2px; }

	/*data_wrap*/
	.data_wrap{ margin-bottom: 30px; }
	.data_wrap:after{ clear: both; content: ""; display: table; }

	.data_mokuai_total{ height: 30px; line-height: 30px; font-size: 18px; margin: 20px 0px -10px; }

	/*data_geti_box*/
	.data_geti_box{ margin-top: 20px; }
	.data_geti_box:after{ clear: both; content: ""; display: table; }

	.data_geti_box .ptname_wrap{  }
	.data_geti_box .ptname_wrap h5{ height: 40px; line-height: 40px; font-size: 18px; background: #040404; padding: 0px 10px; color: #d8d8d8; }
	.data_geti_box .ptname_wrap h5 strong{ float: left; }
	.data_geti_box .ptname_wrap h5 span{ float: right; font-size: 14px; font-weight: 350; }

	.data_geti_box .databox{ margin-top: 1px; }
	.data_geti_box .databox:after{ clear: both; content: ""; display: table; }

	.data_geti_box .databox table.smtab{  }
	.data_geti_box .databox table.smtab th{ font-size: 15px; font-weight: normal; }
	.data_geti_box .databox table.smtab td{ height: 30px; }

	.data_geti_box .databox table{ display: table; border-spacing: 1px; width: 100%; font-size: 14px; margin-top: -1px; line-height: 20px; background: #040404; }
	.data_geti_box .databox table th{ background: #606873; height: 30px; font-size: 15px; color: #fff; }
	.data_geti_box .databox table th.tb_domain{ width: 36%; }
	.data_geti_box .databox table th.tb_date{ width: 32%; }

	.data_geti_box .databox table td{ padding: 5px 3px; }
	.data_geti_box .databox table td.tb_tit_1{ background: #ffeeee; color:#0072ff; }
	.data_geti_box .databox table td.tb_tit_2{ background: #fff3dc; color:#0072ff; }
	.data_geti_box .databox table td.tb_tit_3{ background: #dcf6f9; color:#0072ff; }
	.data_geti_box .databox table td.tb_tit_4{ background: #e9dcf7; color:#0072ff; }
	.data_geti_box .databox table td.tb_tit_5{ background: #eaf7df; color:#0072ff; }
	.data_geti_box .databox table td.tb_tit_6{ background: #fbe2e2; color:#0072ff; }
	/*.data_geti_box .databox table td.tb_tit_1{ background: #e0c6c6; }
	.data_geti_box .databox table td.tb_tit_2{ background: #dccfb8; }
	.data_geti_box .databox table td.tb_tit_3{ background: #b4d0d2; }
	.data_geti_box .databox table td.tb_tit_4{ background: #c3b7d0; }
	.data_geti_box .databox table td.tb_tit_5{ background: #c2d6b0; }
	.data_geti_box .databox table td.tb_tit_6{ background: #d4b6b4; }*/
	.data_geti_box .databox table td.tb_date_1{ background: #fff6f6; }
	.data_geti_box .databox table td.tb_date_2{ background: #fff7e9; }
	.data_geti_box .databox table td.tb_date_3{ background: #eefeff; }
	.data_geti_box .databox table td.tb_date_4{ background: #f7f0ff; }
	.data_geti_box .databox table td.tb_date_5{ background: #f7fff0; }
	.data_geti_box .databox table td.tb_date_6{ background: #ffeeee; }
	
}


/* 设置了浏览器宽度不大于1000px时 */ 
@media screen and ( max-width: 700px ) { 
	.syhome_body{ width: calc(100% - 30px); padding: 30px 15px 20px; text-align: center; }
	h1.site_name{ line-height: 30px; font-size: 24px; /*padding-bottom: 10px; border-bottom: 1px dotted #c1c1c1;*/ }

	/*pt_wrap*/
	.pt_wrap{  }
	.pt_wrap:after{ clear: both; content: ""; display: table; }

	/*data_total*/
	.data_total{ height: 50px; line-height: 50px; font-size: 18px; border-bottom: 1px dotted #c1c1c1; background: #f5f5f5; }
	.data_total b{ margin-left: 2px; }

	/*data_wrap*/
	.data_wrap{ margin: 10px 0px 20px; }
	.data_wrap:after{ clear: both; content: ""; display: table; }

	.data_mokuai_total{ height: 30px; line-height: 30px; font-size: 16px; margin: 20px 0px -15px; }

	/*data_geti_box*/
	.data_geti_box{ margin-top: 20px; }
	.data_geti_box:after{ clear: both; content: ""; display: table; }

	.data_geti_box .ptname_wrap{  }
	.data_geti_box .ptname_wrap h5{ height: 40px; line-height: 40px; font-size: 16px; background: #040404; padding: 0px 10px; color: #d8d8d8; }
	.data_geti_box .ptname_wrap h5 strong{ float: left; }
	.data_geti_box .ptname_wrap h5 span{ float: right; font-size: 13px; font-weight: 350; }

	.data_geti_box .databox{ margin-top: 1px; }
	.data_geti_box .databox:after{ clear: both; content: ""; display: table; }

	.data_geti_box .databox table{ display: table; border-spacing: 1px; width: 100%; font-size: 14px; margin-top: -1px; line-height: 20px; background: #040404; }
	.data_geti_box .databox table th{ background: #606873; height: 30px; font-size: 15px; color: #fff; }
	.data_geti_box .databox table th.tb_domain{ width: 34%; }
	.data_geti_box .databox table th.tb_date{ width: 33%; }

	.data_geti_box .databox table td{ padding: 5px 3px; font-size: 13px; }
	.data_geti_box .databox table td.tb_tit_1{ background: #ffeeee; color:#0072ff; }
	.data_geti_box .databox table td.tb_tit_2{ background: #fff3dc; color:#0072ff; }
	.data_geti_box .databox table td.tb_tit_3{ background: #dcf6f9; color:#0072ff; }
	.data_geti_box .databox table td.tb_tit_4{ background: #e9dcf7; color:#0072ff; }
	.data_geti_box .databox table td.tb_tit_5{ background: #eaf7df; color:#0072ff; }
	.data_geti_box .databox table td.tb_tit_6{ background: #fbe2e2; color:#0072ff; }
	/*.data_geti_box .databox table td.tb_tit_1{ background: #e0c6c6; }
	.data_geti_box .databox table td.tb_tit_2{ background: #dccfb8; }
	.data_geti_box .databox table td.tb_tit_3{ background: #b4d0d2; }
	.data_geti_box .databox table td.tb_tit_4{ background: #c3b7d0; }
	.data_geti_box .databox table td.tb_tit_5{ background: #c2d6b0; }
	.data_geti_box .databox table td.tb_tit_6{ background: #d4b6b4; }*/
	.data_geti_box .databox table td.tb_date_1{ background: #fff6f6; }
	.data_geti_box .databox table td.tb_date_2{ background: #fff7e9; }
	.data_geti_box .databox table td.tb_date_3{ background: #eefeff; }
	.data_geti_box .databox table td.tb_date_4{ background: #f7f0ff; }
	.data_geti_box .databox table td.tb_date_5{ background: #f7fff0; }
	.data_geti_box .databox table td.tb_date_6{ background: #ffeeee; }

	
}